@charset "utf-8";


/* average item level */
.summary-averageilvl .rest { text-transform:none; }

.game-guide-what-is-wow .part1-div  p, .game-guide-what-is-wow .part2-div  p, .game-guide-what-is-wow .part3-div  p, .game-guide-what-is-wow .part4-div  p {line-height:18px;}
.game-guide-what-is-wow .part3-desc02 .guide-detail-desc p, .game-guide-what-is-wow .part4-desc02  p, .game-guide-what-is-wow .part4-desc03  p {line-height:15px;}
.game-guide-what-is-wow .part1-div  .part1-detail .role-playing {margin:26px 0 0 50px;}
.game-guide-what-is-wow .part1-div  .part1-detail .online {margin:40px 50px 0 0;}


.game-guide-getting-started .step1-div #interface-list {right:63px;}
.game-guide-getting-started .step1-div  p, .game-guide-getting-started  .step2-div  p , .game-guide-getting-started  .step4-div  p {line-height:18px;}
.game-guide-getting-started .sever-type-list {line-height:15px;}
.game-guide-getting-started .step3-div  p {line-height:17px;}
.game-guide-getting-started .step3-div  .content-col-right {line-height:13px;}
.game-guide-getting-started .part1-div  .part1-detail .role-playing {margin:26px 0 0 50px;}
.game-guide-getting-started .part1-div  .part1-detail .online {margin:0 50px 0 0;}
.game-guide-getting-started .step1-div .raf-desc {margin-top:30px;}

.game-guide-playing-together .chat-other .dialog, .game-guide-playing-together #friends .friends .box {line-height:15px;}
.game-guide-playing-together #party .box, .game-guide-playing-together #friends .intro {line-height:19px;}

/* character card */
#header .user-plate .user-meta.meta-login { padding-right:20px; top:61px; }

/* Free WoW for SC2 promo side banner */
.promo.promo-free-wow .free-trial {  background-image: url("/wow/static/images/sidebar/free-wow-for-sc2/es-es.jpg") }

/* Services WoW Remote page */
.content-anchors-div .anchor-box .wrapper {min-height:129px;}

/* wiki */
.bosses .npcs a { width: 110px; padding: 0; }
.bosses .npcs a .side-icon { right: 16px; }

/*mists of pandaria*/
#header .mists-pre-purchase a { background-image: url(../../images/game/mist-of-pandaria/locale/es-es/buynow-minisite-esmx.png); }
.pandaria #menu,
.pandaria-sub #menu,
.pandaria #menu li a:hover,
.pandaria-sub #menu li a:hover,
.pandaria-sub-media #menu li a:hover,
.pandaria #menu li a.menu-active,
.pandaria-sub #menu li a.menu-active,
.pandaria-sub-media #menu,
.pandaria-sub-media #menu li a.menu-active { background-image:url("../../images/game/mist-of-pandaria/locale/es-es/bg-navi.jpg") }
.pandaria .bottom .monk { background-image: url("../../images/game/mist-of-pandaria/locale/es-es/bg-main-feature.png") }
.pandaria .bottom .pandaren { background-image:url("../../images/game/mist-of-pandaria/locale/es-es/bg-main-feature.png") }
.pandaria .bottom .talent-calculator { background-image:url("../../images/game/mist-of-pandaria/locale/es-es/bg-main-feature.png") }
.bestiary-selector .bestiary-disabled-icon { width:auto; min-width:90px; }
.pandaria-sub.the-jade-forest .content-bot { height: 1750px !important; }
.pandaria-sub.zone #content .content-bot { min-height: 2870px; }
.frame-wrapper.the-jade-forest .frame-contents { height:755px }
.frame-wrapper.vallery-of-the-four-winds .frame-contents { height:770px }

.ie6 #header .back-to-community a { background-image: url("../../images/game/mist-of-pandaria/locale/es-es/back-to-community.gif") }

.ie6 .pandaria .bottom .monk,
.ie6 .pandaria .bottom .pandaren, .pandaria .bottom .pandaren,
.ie6 .pandaria .bottom .talent-calculator { background-image:url("../../images/game/mist-of-pandaria/locale/es-es/bg-main-feature.gif") }

/*facebook winback patch 4.3*/
.facebook-winback-patch43 .wrapper{ background: url('../../images/gate/facebook-winback-patch43/es/background.jpg') top left no-repeat; width: 512px; height:1120px; margin:0; position: absolute; left: 0; }
.facebook-winback-patch43 .header .return-free-content a.return-free-now{ background: url('../../images/gate/facebook-winback-patch43/es/return-free-now-button-hover.jpg') 0 60px no-repeat; }
.facebook-winback-patch43 .header .return-free-content a.return-free-now{ margin: 0; }

/*Facebook Tab New Scroll of Resurrection*/
.facebook-new-scroll-of-resurrection .wrapper{ background-image: url('../../images/gate/facebook-new-scroll-of-resurrection/es-es/background.jpg'); }
.facebook-new-scroll-of-resurrection .wrapper a.resurrect-a-friend:hover{ background: url('../../images/gate/facebook-new-scroll-of-resurrection/es-es/button-hover.jpg') 6px 3px no-repeat; }

/* MoP CE */
.collectors-edition #content .content-top { background: url("../../images/shop/collectors-edition/bg-top-pegi.jpg") no-repeat 0 0; }

/* MoP Digital Deluxe */
#mop-digital-deluxe .pre-purchase-header { background: url("../../images/mop/digital-deluxe-header-bg-es-es.jpg") no-repeat; }
#mop-digital-deluxe .digital-deluxe-edition-text { left: 304px; }

/* Facebook Choose Your Path Tab */
.facebook-choose-your-path .displayer .logo { background-image: url('../../images/social/facebook/choose-your-path/es-es/patch-logo-5-4-small.png'); }
.facebook-choose-your-path .container .displayer .content .mop-content .patch-logo { background-image: url('../../images/social/facebook/choose-your-path/es-es/patch-logo-5-4-small.png'); }
.facebook-choose-your-path .container .displayer .content .starter-content .starter-logo { background-image: url('../../images/social/facebook/choose-your-path/es-es/starter-logo.png'); }
.facebook-choose-your-path .container .displayer .content  .direction-left { background-image: url('../../images/social/facebook/choose-your-path/es-es/back-left.png'); }
.facebook-choose-your-path .container .displayer .content  .direction-right { background-image: url('../../images/social/facebook/choose-your-path/es-es/back-right.png'); }
.facebook-choose-your-path .container .displayer .content .title { background-image: url('../../images/social/facebook/choose-your-path/es-es/bg-title.png'); }
.facebook-choose-your-path .container .displayer .content .mop-content .descrip { background-image: url('../../images/social/facebook/choose-your-path/es-es/content-mop-text.png'); }
.facebook-choose-your-path .container .displayer .content .starter-content .descrip { background-image: url('../../images/social/facebook/choose-your-path/es-es/content-starter-text.png'); }
.facebook-choose-your-path .container .displayer .content .mop-content .button { background-image: url('../../images/social/facebook/choose-your-path/es-es/buttons-sprite.png'); }
.facebook-choose-your-path .container .displayer .content .starter-content .top-button:hover { background-image: url('../../images/social/facebook/choose-your-path/es-es/buttons-sprite.png'); }
.facebook-choose-your-path .container .displayer .content .starter-content .top-button { background-image: url('../../images/social/facebook/choose-your-path/es-es/buttons-sprite.png'); }
.facebook-choose-your-path .container .displayer .content .starter-content .bottom-button { background-image: url('../../images/social/facebook/choose-your-path/es-es/content-starter-buyit.png'); height: 24px; }
.facebook-choose-your-path .container .displayer .content .captions { background-image: url('../../images/social/facebook/choose-your-path/es-es/bg-captions.png'); }

/* Guide Pet Battles */
.pet-battles .how-to li h2 span{ background-image: url("../../images/game/guide/pet-battles/steps-titles/steps-titles-es.png"); }
.thumbs .level { background-image: url("../../images/game/guide/pet-battles/gallery/es-es/slide-sprite.jpg"); }


/* VAS Pages */
.race-change .button-apply .price,
.faction-change .button-apply .price,
.character-transfer .button-apply .price { font-size: 15px; width: 100%; text-align: center; font-weight: bold; line-height: 15px; margin-top: -6px; }
.faction-change .button-apply .price del,
.race-change .button-apply .price del,
.character-transfer .button-apply .price del { color: #ffdc8c; font-size: 10px; font-weight: normal; }
.faction-change .button-apply .no-promo,
.race-change .button-apply .no-promo,
.character-transfer .button-apply .no-promo { font-size: 13px; font-weight: normal; line-height: 15px; margin-top: -6px; }
.character-transfer .page-titles h2 { font-size: 48px; }